/home/muahmmad/projects/packages/MambaIR/basicsr.egg-info/
/home/muahmmad/projects/packages/MambaIR/realDenoising/pretrained_models/
/home/muahmmad/projects/packages/MambaIR/test_MambaIR_ColorDN_level15/
/home/muahmmad/projects/packages/MambaIR/test_MambaIR_ColorDN_level15.zip
/home/muahmmad/projects/packages/MambaIR/build/
/home/muahmmad/projects/packages/MambaIR/realDenoising/basicsr/__pycache__/
/home/muahmmad/projects/packages/MambaIR/realDenoising/basicsr/__pycache__/
/home/muahmmad/projects/packages/MambaIR/realDenoising/basicsr/utils/__pycache__/
/home/muahmmad/projects/packages/MambaIR/realDenoising/build/temp.linux-x86_64-cpython-310/
/home/muahmmad/projects/packages/MambaIR/options/
/home/muahmmad/projects/packages/MambaIR/realDenoising/build/
/home/muahmmad/projects/packages/MambaIR/realDenoising/basicsr.egg-info/
/home/muahmmad/projects/packages/MambaIR/realDenoising/pretrained_models/*.pth
/home/muahmmad/projects/packages/MambaIR/realDenoising/pretrained_models/*.log
